apiVersion: apps/v1
kind: Deployment
metadata:
  name: marblerun-coordinator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: coordinator
    app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
    app.kubernetes.io/name: coordinator
    app.kubernetes.io/part-of: marblerun
    app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
    {{ .Values.global.coordinatorComponentLabel }}: coordinator
    {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.coordinator.replicas }}
  selector:
    matchLabels:
      {{ .Values.global.coordinatorComponentLabel }}: coordinator
      {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: coordinator
        app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
        app.kubernetes.io/name: coordinator
        app.kubernetes.io/part-of: marblerun
        app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
        {{ .Values.global.coordinatorComponentLabel }}: coordinator
        {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
        {{- with .Values.global.podLabels }}{{ toYaml . | trim | nindent 8 }}{{- end }}
    spec:
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: marblerun-coordinator
      containers:
        - env:
          - name: EDG_COORDINATOR_MESH_ADDR
            value: "{{ .Values.coordinator.meshServerHost }}:{{ .Values.coordinator.meshServerPort }}"
          - name: EDG_COORDINATOR_CLIENT_ADDR
            value: "{{ .Values.coordinator.clientServerHost }}:{{ .Values.coordinator.clientServerPort }}"
          - name: EDG_COORDINATOR_DNS_NAMES
            value: >-
              {{- $baseDnsNames := list "localhost" "coordinator-mesh-api" "coordinator-client-api" }}
              {{- $namespacedDnsNames := list (printf "coordinator-mesh-api.%s" .Release.Namespace) (printf "coordinator-client-api.%s" .Release.Namespace) }}
              {{- $fqdnDnsNames := list (printf "coordinator-mesh-api.%s.svc.cluster.local" .Release.Namespace) (printf "coordinator-client-api.%s.svc.cluster.local" .Release.Namespace) }}
              {{- $keyApiNames := list }}
              {{- if .Values.coordinator.distributedDeployment }}
              {{- $keyApiNames = list .Values.coordinator.keyAPIName (printf "%s.%s" .Values.coordinator.keyAPIName .Release.Namespace) (printf "%s.%s.svc.cluster.local" .Values.coordinator.keyAPIName .Release.Namespace) }}
              {{- end }}
              {{- $allDnsNames := concat $baseDnsNames $namespacedDnsNames $fqdnDnsNames $keyApiNames }}
              {{ if .Values.coordinator.hostname }}{{ .Values.coordinator.hostname }},{{ end }}{{ join "," $allDnsNames }}
          - name: EDG_COORDINATOR_SEAL_DIR
            value: "{{ .Values.coordinator.sealDir }}"
          - name: OE_SIMULATION
            value: {{ if .Values.coordinator.simulation }}"1"{{ else }}"0"{{ end }}
          {{- with .Values.coordinator.azureCredentials }}
          {{- if or .secretName (and .clientID .tenantID .clientSecret ) }}
          - name: EDG_AZURE_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: {{ .secretName | default "coordinator-azure-credentials" }}
                key: AZURE_CLIENT_ID
          - name: EDG_AZURE_TENANT_ID
            valueFrom:
              secretKeyRef:
                name: {{ .secretName | default "coordinator-azure-credentials" }}
                key: AZURE_TENANT_ID
          - name: EDG_AZURE_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ .secretName | default "coordinator-azure-credentials" }}
                key: AZURE_CLIENT_SECRET
          {{- end }}
          {{- end }}
          {{- with .Values.coordinator.hsm }}
          - name: EDG_HSM_KEY_NAME
            value: {{ .keyName }}
          - name: EDG_HSM_KEY_VERSION
            value: {{ .keyVersion }}
          - name: EDG_HSM_VAULT_URL
            value: {{ .vaultURL }}
          - name: EDG_MAA_URL
            value: {{ .maaURL }}
          {{- end }}
          {{- if .Values.coordinator.distributedDeployment }}
          - name: EDG_STORE_BACKEND
            value: {{ .Values.coordinator.storeBackend }}
          - name: EDG_K8S_STATE_NAME
            value: {{ .Values.coordinator.stateSecretName }}
          - name: EDG_K8S_SERVICE_NAME
            value: {{ .Values.coordinator.keyAPIName }}
          - name: EDG_K8S_KEK_MAP
            value: {{ .Values.coordinator.kekConfigMap }}
          - name: EDG_K8S_NAMESPACE
            value: {{ .Release.Namespace }}
          - name: EDG_DISTRIBUTED_COORDINATOR
            value: "1"
          {{- end }}
          name: coordinator
          image: "{{ .Values.coordinator.repository }}/{{ .Values.coordinator.image }}:{{ .Values.coordinator.version }}@{{ .Values.coordinator.hash }}"
          imagePullPolicy: {{ .Values.coordinator.pullPolicy }}
          livenessProbe:
            httpGet:
              path: /api/v2/status
              scheme: HTTPS
              port: {{ .Values.coordinator.clientServerPort }}
            failureThreshold: {{ .Values.coordinator.probes.liveness.failureThreshold }}
            periodSeconds: {{ .Values.coordinator.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.coordinator.probes.liveness.timeoutSeconds }}
          readinessProbe:
            failureThreshold: {{ .Values.coordinator.probes.readiness.failureThreshold }}
            periodSeconds: {{ .Values.coordinator.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.coordinator.probes.readiness.timeoutSeconds }}
            httpGet:
              path: /api/v2/status
              scheme: HTTPS
              port: {{ .Values.coordinator.clientServerPort }}
          startupProbe:
            initialDelaySeconds: {{ .Values.coordinator.probes.startup.initialDelaySeconds }}
            failureThreshold: {{ .Values.coordinator.probes.startup.failureThreshold }}
            periodSeconds: {{ .Values.coordinator.probes.startup.periodSeconds }}
            timeoutSeconds: {{ .Values.coordinator.probes.startup.timeoutSeconds }}
            httpGet:
              path: /api/v2/status
              scheme: HTTPS
              port: {{ .Values.coordinator.clientServerPort }}
          ports:
            - containerPort: {{ .Values.coordinator.clientServerPort }}
              name: http
            - containerPort: {{ .Values.coordinator.meshServerPort }}
              name: grpc
          resources:
          {{- toYaml .Values.coordinator.resources | nindent 12 }}
          volumeMounts:
          {{- if or (not .Values.coordinator.distributedDeployment) (ne .Values.coordinator.storeBackend "k8s-secret") }}
          - name: coordinator-pv-storage
            mountPath: /coordinator/data
          {{- end }}
          {{ if .Values.dcap }}
          - name: dcap-conf
            mountPath: /etc/sgx_default_qcnl.conf
            subPath: sgx_default_qcnl.conf
          {{ end }}
      volumes:
        {{- if or (not .Values.coordinator.distributedDeployment) (ne .Values.coordinator.storeBackend "k8s-secret") }}
        - name: coordinator-pv-storage
          persistentVolumeClaim:
            claimName: {{ .Values.coordinator.pvcName | default "coordinator-pv-claim" }}
        {{- end }}
        {{ if .Values.dcap }}
        - name: dcap-conf
          configMap:
            name: coordinator-dcap-config
        {{ end }}
---
{{- if and (or (not .Values.coordinator.distributedDeployment) (ne .Values.coordinator.storeBackend "k8s-secret")) (not .Values.coordinator.pvcName) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: coordinator-pv-claim
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: persistent-storage
    app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
    app.kubernetes.io/name: coordinator-pv-claim
    app.kubernetes.io/part-of: marblerun
    app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
spec:
  storageClassName: {{ .Values.coordinator.storageClass }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.coordinator.storageSize }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: coordinator-client-api
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: client-api
    app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
    app.kubernetes.io/name: coordinator-client-api
    app.kubernetes.io/part-of: marblerun
    app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
spec:
  type: ClusterIP
  selector:
    {{ .Values.global.coordinatorComponentLabel }}: coordinator
    {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
  ports:
  - name: http
    port: {{ .Values.coordinator.clientServerPort }}
    targetPort: {{ .Values.coordinator.clientServerPort }}
---
apiVersion: v1
kind: Service
metadata:
  name: coordinator-mesh-api
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: mesh-api
    app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
    app.kubernetes.io/name: coordinator-mesh-api
    app.kubernetes.io/part-of: marblerun
    app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
spec:
  type: ClusterIP
  selector:
    {{ .Values.global.coordinatorComponentLabel }}: coordinator
    {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
  ports:
  - name: grpc
    port: {{ .Values.coordinator.meshServerPort }}
    targetPort: {{ .Values.coordinator.meshServerPort }}
    appProtocol: tcp
---
{{- if .Values.coordinator.distributedDeployment }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.coordinator.keyAPIName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: key-api
    app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
    app.kubernetes.io/name: coordinator-key-api
    app.kubernetes.io/part-of: marblerun
    app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
spec:
  type: ClusterIP
  selector:
    {{ .Values.global.coordinatorComponentLabel }}: coordinator
    {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
  ports:
  - name: grpc
    port: 5433
    targetPort: 5433
    appProtocol: tcp
{{- end }}
