apiVersion: v1
kind: ServiceAccount
metadata:
  name: marblerun-coordinator
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/created-by: {{ .Values.global.createdBy }}
    app.kubernetes.io/name: marblerun-coordinator
    app.kubernetes.io/part-of: marblerun
    app.kubernetes.io/version: "{{ .Values.coordinator.version }}"
    {{ .Values.global.coordinatorComponentLabel }}: controller
    {{ .Values.global.coordinatorNamespaceLabel }}: {{ .Release.Namespace }}
{{- if .Values.global.pullSecret }}
imagePullSecrets:
  - name: {{ .Values.global.pullSecret }}
{{- end }}
---
{{- if .Values.coordinator.distributedDeployment }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: marblerun-coordinator
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get","create","update"]
  - apiGroups: ["discovery.k8s.io"]
    resources: ["endpointslices"]
    verbs: ["list"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get","create","patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: marblerun-coordinator
  namespace: {{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: marblerun-coordinator
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: marblerun-coordinator
  apiGroup: rbac.authorization.k8s.io
{{- end }}
