# Default values for marblerun-coordinator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


# Values that are passed along to sub-charts
global:
  # Additional annotations to add to all pods
  podAnnotations: {}

  # Additional labels to add to all pods
  podLabels: {}

  createdBy: Helm

  # control plane labels
  coordinatorComponentLabel: edgeless.systems/control-plane-component
  coordinatorNamespaceLabel: edgeless.systems/control-plane-ns

# For Private docker registries, authentication is needed.
#  Registry secrets are applied to the respective service accounts
pullSecret: {}
  # name: pull-secret-name
  # token: base64({"auths":{"<repository>":{"auth":"<personal-access-token>"}}})


# webhook configuration
marbleInjector:
  start: false
  replicas: 1
  repository: ghcr.io/edgelesssys
  image: marble-injector
  pullPolicy: IfNotPresent
  version: v0.6.1
  # Set this to use a custom CABundle for the MutatingWebhook
  # CABundle: "CA_Bundle_Base64"


# coordinator configuration
coordinator:
  replicas: 1
  repository: ghcr.io/edgelesssys
  image: coordinator
  pullPolicy: IfNotPresent
  version: v0.6.1

  enterpriseImage: coordinator-enterprise
  enterpriseVersion: latest

  # Environment configuration for the coordinator control-plane
  # meshServerPort needs to be configured to the same port as in the data-plane marbles
  meshServerHost: "0.0.0.0"
  meshServerPort: 2001
  # clientServerPort needs to be configured to the same port as in your client tool stack
  clientServerHost: "0.0.0.0"
  clientServerPort: 4433
  # hosName needs to match the host you expect the coordinator to run on
  hostname: "localhost"
  # SEAL_DIR needs to be set according to persistent storage
  sealDir: "/coordinator/data/"
  # OE_SIMULATION needs be set to "1" when running on systems without SGX1+FLC capabilities
  simulation: false

  resources:
    limits:
      # Disable this if your running on a cluster without an SGX Device Plugin
      sgx.intel.com/epc: "10Mi"

  # Set the storage class for your cluster
  # storageClass:


# Tolerations constraints for control-plane components
# https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations:
- key: sgx.intel.com/epc
  operator: Exists
  effect: NoSchedule

# Node selection constraints for control-plane components
# https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodeselector.
nodeSelector:
  kubernetes.io/os: linux

# DCAP configuration settings
dcap:
  # DCAP_LIBRARY needs to be "intel" if the libsgx-dcap-default-qpl is to be used, otherwise az-dcap-client is used by default
  qpl: "azure"
  pccsUrl: "https://localhost:8081/sgx/certification/v3/"
  useSecureCert: "TRUE"
