name: Build Coordinator

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Container image tag"
        required: false
        type: string
  push:
    branches:
      - main

jobs:
  build-coordinator:
    runs-on: ubuntu-24.04
    container: ghcr.io/edgelesssys/edgelessrt-dev:ci

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Deploy coordinator:nightly
        if: github.ref == 'refs/heads/master' &&
          github.event_name == 'push'
        run: |
          curl -X POST -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.CI_GITHUB_REPOSITORY }}" \
          -d '{"event_type": "docker-build",
              "client_payload":{"repository":"marblerun",
                                "sign":"nightly",
                                "imagename":"marblerun/coordinator-debug",
                                "tag":"nightly",
                                "file": "dockerfiles/Dockerfile.coordinator",
                                "args": "--build-arg erttag=master --build-arg mrtag=master",
                                "target":"release"}}' \
          https://api.github.com/repos/edgelesssys/deployment/dispatches

      - name: Deploy marble-injector:nightly
        if: github.ref == 'refs/heads/master' &&
          github.event_name == 'push'
        run: |
          curl -X POST -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: token ${{ secrets.CI_GITHUB_REPOSITORY }}" \
          -d '{"event_type": "docker-build",
              "client_payload":{"repository":"marblerun",
                                "sign":"nightly",
                                "imagename":"marblerun/marble-injector",
                                "tag":"nightly",
                                "file": "dockerfiles/Dockerfile.marble-injector",
                                "target":"release"}}' \
          https://api.github.com/repos/edgelesssys/deployment/dispatches
