name: 'Test: integration'

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "**/go.mod"
  pull_request:
    paths:
      - "**.go"
      - "**/go.mod"

jobs:
  build-test:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/edgelesssys/ego-dev:latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Build estore sample
        working-directory: samples/estore
        run: |
          ego-go build -tags marblerun_ego_enclave
          ego sign estore-sample

  integration-test:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/edgelesssys/edgelessrt-dev:ci

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          mkdir build
          mkdir build_fakestore
          mkdir build_fakehsm

      - name: Build
        run: |
          cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ..
          make
        working-directory: build

      - name: Build with fakestore
        run: |
          cmake ..
          COORDINATOR_BUILD_TAGS=fakestore make sign-coordinator sign-marble-test
          grep 'fake k8s store' coordinator-enclave.signed  # verify that fakestore is enabled
        working-directory: build_fakestore

      - name: Build with fakehsm
        run: |
          cmake ..
          COORDINATOR_BUILD_TAGS=fakehsm make sign-coordinator sign-marble-test
          grep 'built with fake hsm' coordinator-enclave.signed  # verify that fakehsm is enabled
        working-directory: build_fakehsm

      - name: Integration test
        run: go test -tags integration -b ../../build -s
        working-directory: test/integration

      - name: Integration test (-noenclave)
        run: go test -tags integration -b ../../build -noenclave
        working-directory: test/integration

      - name: Integration test (fakestore)
        run: go test -v -tags integration -skip TestRecoverySealedKeyStateBinding -b ../../build_fakestore -s
        working-directory: test/integration

      - name: Integration test (fakehsm)
        run: go test -v -tags integration,hsmsealing -b ../../build_fakehsm -s
        working-directory: test/integration
