name: 'Test: links'

on:
  push:
    branches:
      - master
    paths:
      - "**.md"
      - "**.html"
      - ".github/workflows/links.yml"
  pull_request:
    paths:
      - "**.md"
      - "**.html"
      - ".github/workflows/links.yml"
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Link Checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          fail: true
          args: --verbose --no-progress './**/*.md' './**/*.html' './**/*.rst' --cache --cache-exclude-status 400..599 --max-concurrency 4 --retry-wait-time 60
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
