name: 'Test: lint'

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"
      - ".github/workflows/lint.yml"
  pull_request:
    paths:
      - "**.go"
      - "**/go.mod"
      - "**/go.sum"
      - ".github/workflows/lint.yml"

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-24.04
    container: ghcr.io/edgelesssys/edgelessrt-dev:ci
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          skip-cache: true
          args: --timeout=30m
