name: 'Test: unit'

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "**/go.mod"
  pull_request:
    paths:
      - "**.go"
      - "**/go.mod"

jobs:
  test:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/edgelesssys/edgelessrt-dev:ci

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Test
        run: go test -race -count=3 ./...
