name: 'Test: vale spelling'
on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"

jobs:
  vale:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Vale
        uses: errata-ai/vale-action@dcded780f1ff68e2558e802a165a484a4a3e2fb8 # reviewdog
        with:
          files: docs/docs
          fail_on_error: true
          version: 3.9.3
