name: 'Test: vale spelling'
on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"

jobs:
  vale:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Vale
        uses: errata-ai/vale-action@dcded780f1ff68e2558e802a165a484a4a3e2fb8 # reviewdog
        with:
          files: docs/docs
          fail_on_error: true
          version: 3.9.3
